body {
    padding: 2%;
}
.App {
    display: grid;
    width: 95%;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}
.card img{
    cursor: pointer;
    width: 100%;
    margin: 24px;
    border-radius: 1px;
}
.image_box{
    width: auto;
}